---
- name: system group
  become: true
  group:
    name: nginx-exp
    state: present

- name: system user
  become: true
  user:
    name: nginx-exp
    shell: /bin/bash
    group: nginx-exp
    append: true

- name: creates directory nginx-exporter
  become: true
  file:
    path: /nginx-exporter
    state: directory

- name: Download nginx-exporter
  become: true
  get_url:
    url: https://github.com/nginxinc/nginx-prometheus-exporter/releases/download/v0.3.0/nginx-prometheus-exporter-0.3.0-linux-amd64.tar.gz
    dest: /nginx-exporter/
    mode: '0644'

- name: Extract "nginx-prometheus-exporter-0.3.0-linux-amd64.tar.gz" into /etc/nginx-exporter/
  become: true
  unarchive:
    src: /nginx-exporter/nginx-prometheus-exporter-0.3.0-linux-amd64.tar.gz
    dest: /nginx-exporter/
    remote_src: true

- name: Template a file
  become: true
  template:
    src: ./template/tng.j2
    dest: /etc/systemd/system/nginx_exporter.service
    owner: "{{ nginx_user }}"
    group: "{{ nginx_user }}"
    mode: '0644'

- name: Make sure nginx_exporter service is running
  become: true
  service:
    name: nginx_exporter.service
    state: started

- name: Make sure nginx_exporter service is enable
  become: true
  service:
    name: nginx_exporter.service
    enabled: true


- name: Check that a page does not return word nginx_up 1
  become: true
  uri:
    url: http://localhost:9113/metrics
    #method: GET
    return_content: true
  register: this
  failed_when: "'nginx_up 1' not in this.content"

- name: fail playbook when GET request to port localhost:80 does not return status code 200
  become: true
  uri:
    url: http://localhost
    #method: GET
    status_code: 200
  register: this
  failed_when: False 
